/* Main page elements */
body {
    margin: 0;
    background-color:ghostwhite;
}

header {
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.time {
    text-align: center;
}

footer {
    background-color: cadetblue;
    padding: 1rem;
}

/* Containers */

.page {
    display: grid;
    grid-template-columns: [left] 1fr [middle] 2fr [right] 1fr;
}

.main-container {
    padding: 1rem;
}

nav {
    padding: 1rem;
}

/* JavaScript Log */

.log-container {
    border: solid;
    border-width: 0.1rem;
    background-color: rgb(211, 233, 240);
}

.log-container > h2 {
    color: rgb(105, 20, 184);
    padding: 1rem;
    margin: 0;
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: black;
}

.inner-log {
    overflow: auto;
    height: 50vh;
    padding: 1rem;
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: black;
}

.log-list {
    list-style-type: none;
    padding: 0;
}

.log-list > li {
    margin-bottom: 0.5rem;
}

.centre {
    text-align: center;
}

/* Hover info container*/

.info-container {
    position: absolute;
    background-color: ghostwhite;
    border: 3px;
    border: solid;
    border-color: cadetblue;
    border-radius: 5px;
    padding: 5px;
}

.info-container-parent {
    position: relative;
}

/* Progress bar */

.bar {
    border: 3px;
    border: solid;
    border-color: black;
    width: 20rem;
    height: 1rem;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: black;
}

/* Percentage info */

.commitment-details {
    font-size: 1.2rem;
}

/* Other */

.hiddenFunction {
    color: orange;
    font-weight: bold;
}

.hiddenFunction:hover {
    color: orangered;
    cursor: help;
}