body {
    margin: 0;
    background-color:ghostwhite;
}

/* Styling for Header */

header {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.text-centre {
    text-align: center;
}

.bar {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.date-time-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mobile-toggle {
    display: flex;
    align-items: center;
}

.hamburger {
    font-size: 3rem;
}

.date-and-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:cadetblue;
    padding: 1rem;;
}

/* Styling for nav */

nav {
    display: none;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 6rem;
    background-color: lightblue;
}

.toggle-off {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
}

/* Styling for footer */

footer {
    background-color: cadetblue;
    padding: 1rem;
}

/* Containers */

.page {
    display: grid;
    grid-template-columns: [left] 1fr [middle] 2fr [right] 1fr;
}

.main-container {
    padding: 1rem;
}

/* JavaScript Log */

.log-container {
    border: solid;
    border-width: 0.1rem;
    background-color: rgb(211, 233, 240);
}

.log-container > h2 {
    color: rgb(105, 20, 184);
    padding: 1rem;
    margin: 0;
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: black;
}

.inner-log {
    overflow: auto;
    height: 50vh;
    padding: 1rem;
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: black;
}

.tally-conatiner {
    padding: 1rem;
}

.log-list {
    list-style-type: none;
    padding: 0;
}

.log-list > li {
    margin-bottom: 0.5rem;
}

.centre {
    text-align: center;
}

/* Hover info container*/

.info-container {
    position: absolute;
    background-color: ghostwhite;
    border: 3px;
    border: solid;
    border-color: cadetblue;
    border-radius: 5px;
    padding: 5px;
}

.info-container-parent {
    position: relative;
}

/* Progress bar */

.bar {
    border: 3px;
    border: solid;
    border-color: black;
    width: 20rem;
    height: 1rem;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: black;
}

/* Percentage info */

.commitment-details {
    font-size: 1.2rem;
}

/* Other */

.hiddenFunction {
    color: orange;
    font-weight: bold;
}

.hiddenFunction:hover {
    color: orangered;
    cursor: help;
}

/* Flash Cards */

.card-container {
    width: full;
    display: flex;
    justify-content: center;
}

.card {
    width: 16rem;
    height: 19rem;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

#outcome-buttons {
    display: none;
}

#unknown-btn {
    margin-right: 5px;
    margin-left: 5px;
}

@media screen and (min-width:600px) {
    /* Header and Nav adjustment */
    header {
        flex-direction: row;
    }

    h1 {
        text-align: left;
    }

    .mobile-toggle {
        display: none;
    }

    .date-and-mobile {
        display: block;
        background-color: lightblue;
        padding: 1rem;
    }

    nav {
        display: block;
        padding: 1rem;
        position: static;
        background-color: rgb(211, 233, 240);
    }

    .toggle-off {
        display: none;
    }
}